In [34]:
data={
    "A":[1,4,7],
    "B":[2,5,8],
    "C":[3,6,9],
    "D":[11,11,11]
}

In [29]:
import pandas as pd

In [35]:
df=pd.DataFrame(data)

In [36]:
x=len(df.columns)

In [37]:
df.iloc[:,int((x)/2):x]

   C   D
0  3  11
1  6  11
2  9  11

In [38]:
df.iloc[:,int((len(df.columns))/2):len(df.columns)]

   C   D
0  3  11
1  6  11
2  9  11