In [1]:
#imports
import pandas as pd

In [2]:
#data
df= pd.read_csv("mydata.csv")

In [18]:
#display
df.head()

,search,1,2,3,4,5,6,7,8,9,10
0,ba,www.britishairways.com,finance.yahoo.com,twitter.com/British_Airways,www.dictionary.com,www.wikipedia.com,books.google.com,merriam-webster.com,books.google.com,en.wikipedia.org,twitter.com
1,be,www.merriam-webster.com,www.dictionary.com,finance.yahoo.com,en.wiktionary.org,learnenglish.britishcouncil.org,en.wikipedia.org,ibighit.com,genius.com,dictionary.cambridge.org,www.collinsdictionary.com
2,bi,www.techtarget.com,powerbi.microsoft.com,www.ibm.com,www.dictionary.com,en.wikipedia.org,bi.com,www.tableau.com,dictionary.cambridge.org,en.wikipedia.org,www.oracle.com
3,bo,www.merriam-webster.com,www.dictionary.com,en.wiktionary.org,dictionary.cambridge.org,www.collinsdictionary.com,www.boburnham.com,www.thefreedictionary.com,en.wikipedia.org,www.oxfordlearnersdictionaries.com,twitter.com
4,bu,www.bu.edu,www.usnews.com,en.wikipedia.org,www.niche.com,goterriers.com,www.facebook.com,www.linkedin.com,www.youtube.com,www.youtube.com,twitter.com

In [ ]:
for column in df:
    print(column)
    for row in range(len(df[column])):
        print(df[column][row])

for row in range(len(df["ba"])):
    for column in df:
        print(df[column][row])

In [ ]:
df_n[]=df["search"]