In [5]:
#imports
import pandas as pd
import numpy as np
import seaborn as sns

In [25]:
#data
df= pd.read_csv("mydata.csv")
df2= pd.read_csv("mydata.csv")

In [26]:
#turn values into tiny lists of their website and the length of the website
for column in df:
    for row in range(len(df["search"])):
        df[column][row]=[df[column][row],len(df[column][row])]
for taco in range(len(df["search"])):
    df["search"][taco]=df["search"][taco][0]
for column in df2:
    for row in range(len(df2["search"])):
        df2[column][row]=len(df2[column][row])
for taco in range(len(df2["search"])):
    df2["search"][taco]=df["search"][taco]

In [28]:
df2

  search   1   2   3   4   5   6   7   8   9  10
0     ba  22  17  27  18  17  16  19  16  16  11
1     be  23  18  17  17  31  16  11  10  24  25
2     bi  18  21  11  18  16   6  15  24  16  14
3     bo  23  18  17  24  25  17  25  16  34  11
4     bu  10  14  16  13  14  16  16  15  15  11

In [ ]:
df2{
    
}

In [ ]:
#display
sns.countplot(data=df,x="1",hue="search")

In [ ]:
df_n[]=df["search"]

In [ ]:
for column in df:
    print(column)
    for row in range(len(df[column])):
        print(df[column][row])

for row in range(len(df["ba"])):
    for column in df:
        print(df[column][row])