In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('pirates.csv') # This requires the csv file to be in the same folder as this Jupyter notebook.

In [6]:
df.info()
#Parrots has the object type of data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1000 non-null   int64
 1   sex              1000 non-null   object
 2   age              999 non-null    float64
 3   height           1000 non-null   float64
 4   weight           1000 non-null   float64
 5   headband         999 non-null    object
 6   college          1000 non-null   object
 7   tattoos          1000 non-null   int64
 8   tchests          1000 non-null   int64
 9   parrots          1000 non-null   object
 10  favorite.pirate  999 non-null    object
 11  sword.type       1000 non-null   object
 12  eyepatch         1000 non-null   int64
 13  sword.time       999 non-null    float64
 14  beard.length     1000 non-null   int64
 15  fav.pixar        1000 non-null   object
 16  grogg            1000 non-null   int64
dtypes: float64(4), int64(6), object(7)
memory usage: 132.9+ KB

In [ ]:
#age,headband,favorite.pirate,sword.time
#

In [ ]:
for column in df.columns:
        for row in range(len(df["id"])):
            if pd.isna(df.loc[row, column]):
                print(row+1)
                print(column)

In [ ]:
j={}
count=-1
for column in df.columns:
        for row in range(len(df["id"])):
            if pd.isna(df.loc[row, column]):
                count=count+1
                j[count]=[column,row+1]
                print(row+1)
                print(column)

In [ ]:
#9-13-2023

In [ ]:
#1
m=0
f=0
o=0
ts=0
for i in range(len(df["sex"])):
    ts=ts+1
    if df["sex"][i]=="female":
        f=f+1
    else:
        if df["sex"][i]=="male":
            m=m+1
        else:
            o=o+1
print(100*m/ts,"% were male,",100*f/ts,"& were female, &",100*o/ts,"% were other, with a total of",len(df["sex"].unique()))

In [ ]:
fa=0
tfa=0
for i in range(len(df["age"])):
    if df["age"][i] is None:
        fa=fa
    else:
        if df["sex"][i]=="female":
            tfa=tfa+1
            fa=fa+df["age"][i]
if df["sex"]=="female":
    
print("The average age in this dataset is:",df["age"].mean(),"& the average age for females in this dataset is:",fa/tfa)

In [ ]:
w=0
tw=0
for i in range(len(df["weight"])):
    tw=tw+1
    if (df["weight"][i]*2.2)<100:
        w=w+1
print("The percentage of pirates who were less than 100 pounds is",100*w/tw,"%!")

In [ ]:
df["weight_lb"]=df["weight"]*2.2
percent = (df["weight_lb"]<100).mean()*100

In [3]:
#2
ids=df["height"].idxmin()
print("The id number for the shortest pirate is",ids+1)
idh=df["weight"].idxmax()
print("The id number for the heaviest pirate is",idh+1)
pix=df["fav.pixar"].mode()
print("The most popular movie was",pix)

The id number for the shortest pirate is 39
The id number for the heaviest pirate is 2
The most popular movie was 0    Inside Out
Name: fav.pixar, dtype: object

In [41]:
#3
df.loc[36,"parrots"]=1
idx=0
for i in df["parrots"]:
    df.loc[idx,"parrots"]=int(i)
    idx = idx+1
print(df["eyepatch"].mean())
print(df["eyepatch"].median())
print(df["parrots"].mean())
print(df["parrots"].median())

0.658
1.0
2.82
2.0

2.0