In [1]:
#imports
import pandas as pd

In [2]:
#data
df= pd.read_csv('pirates.csv')

In [3]:
#display
df.head()

,id,sex,age,height,weight,headband,college,tattoos,tchests,parrots,favorite.pirate,sword.type,eyepatch,sword.time,beard.length,fav.pixar,grogg
0,1,male,28.0,173.11,70.5,yes,JSSFP,9,0,0,Jack Sparrow,cutlass,1,0.58,16,"Monsters, Inc.",11
1,2,male,31.0,209.25,105.6,yes,JSSFP,9,11,0,Jack Sparrow,cutlass,0,1.11,21,WALL-E,9
2,3,male,26.0,169.95,77.1,yes,CCCC,10,10,1,Jack Sparrow,cutlass,1,1.44,19,Inside Out,7
3,4,female,31.0,144.29,58.5,no,JSSFP,2,0,2,Jack Sparrow,scimitar,1,36.11,2,Inside Out,9
4,5,female,41.0,157.85,58.4,yes,JSSFP,9,6,4,Hook,cutlass,1,0.11,0,Inside Out,14

In [10]:
len(df)

1000

In [35]:
xr=-1
xc=-1
for i in df.keys():
    for j in range(len(df)):
        if df[i][j]==non-null:
            xr=j
            xc=i

NameError: name 'non' is not defined

In [34]:
print(xc)

-1

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1000 non-null   int64
 1   sex              1000 non-null   object
 2   age              999 non-null    float64
 3   height           1000 non-null   float64
 4   weight           1000 non-null   float64
 5   headband         999 non-null    object
 6   college          1000 non-null   object
 7   tattoos          1000 non-null   int64
 8   tchests          1000 non-null   int64
 9   parrots          1000 non-null   object
 10  favorite.pirate  999 non-null    object
 11  sword.type       1000 non-null   object
 12  eyepatch         1000 non-null   int64
 13  sword.time       999 non-null    float64
 14  beard.length     1000 non-null   int64
 15  fav.pixar        1000 non-null   object
 16  grogg            1000 non-null   int64
dtypes: float64(4), int64(6), object(7)
memory usage: 132.9+ KB