In [1]:
import pandas as pd
import random

In [2]:
# Challenge 1
df = pd.read_csv("pirates.csv") # This requires the csv file to be in the same folder as this Jupyter notebook.

In [ ]:
# Challlenge 2 - Part 1 & 2
#df.info()
df.head()

In [ ]:
# Challenge 2 - Part 3
for column in df.columns:
    for row in range(len(df["id"])):
        if pd.isna(df.loc[row, column]):
            print(row + 1)
            print(column)

In [ ]:
# Challenge 3
# Technique 1
# This drops all rows that contain a null value

df.dropna(inplace=True)
df.reset_index(inplace=True)

In [ ]:
# Challenge 3
# Technique 2
# Drops just the age row that features a null

# df.drop(33, inplace=True)

In [ ]:
# Challenge 3
# Technique 3
# Reassigns the missing value in age to the mean of ages

# df.loc[33, "age"] = df["age"].mean()

In [ ]:
# Challenge 3
# Technique 4
# Reassigns the missing value in favorite.pirate to the mode

# df.loc[634, "favorite.pirate"] = df["favorite.pirate"].mode()[0]

In [ ]:
# Challenge 3
# Technique 5
# Assigns the missing age value to a random integer in the range of the smallest age in the dataset and the largest age in dataset
# df.loc[33, "age"] = random.randint(df["age"].min(), df["age"].max())

In [ ]:
# Challenge 4 - Part 1
df["sex"].unique()

In [ ]:
# Challenge 4 - Part 2
avgAge = df["age"].mean() # Average age of ALL pirates
avgFemale = df["age"][df["sex"] == "female"].mean() # Average age of just female pirates

In [ ]:
# Challenge 4 - Part 3
# Technique 1

# df["weight_lb"] = df["weight"]*2.2
# percent = (df["weight_lb"] < 100).mean() * 100

In [ ]:
# Challenge 4 - Part 3
# Technique 2

count = 0
for i in df["weight"]:
    if i < 45.3592: # 45.3592 is the kg equivalent of 100 pounds
        count += 1

percent = count/len(df["weight"]) * 100

In [ ]:
# Challenge 5 - Part 1
# Step 1 - Find smallest number using min
# Step 2 - Find index value associated with that min using idxMin()
# Step 3 - Add one to get ID

idx = df["height"].idxmin()
print(idx)

min = df["height"].min()
idx = df.index[df['height'] == 129.83].tolist()
print(idx)

In [ ]:
# Challenge 5 - Part 2
# Step 1 - Use idxMax

idx = df["weight"].idxmax()
=print(idx)

In [ ]:
# Challenge 5 - Part 3
# Step 1 - Mode of movie column

df["fav.pixar"].mode()[0]

In [ ]:
# Challenge 6 - Part 1
# Step 1 - Calculate mean of eyepatches using mean()
# Step 2 - Calculate median of eyepatches using median()

df["eyepatch"].mean()
df["eyepatch"].median()

In [ ]:
# Challenge 6 - Part 2
# Step 1 - Cast all parrot values to int
# Step 2 - Calculate mean of eyepatches using mean()
# Step 3 - Calculate median of eyepatches using median()

df.loc[35, "parrots"] = 1
idx = 0
for i in df["parrots"]:
    df.loc[idx, "parrots"] = int(i)
    idx = idx + 1

df["parrots"].mean()
df["parrots"].median()

In [ ]:
df["parrots"][999]

In [3]:
# Challenge 7 - Part 1 
newrow_df = pd.read_csv("PirateNewRow.csv")
df = pd.concat([df, newrow_df], ignore_index=True)

In [4]:
# Challenge 7 - Part 2
newcolumn_df = pd.read_csv("PirateNewColumn.csv")
merged_df = pd.merge(df,newcolumn_df, on='id', how='inner')

In [5]:
merged_df.head(20)

,id,sex,age,height,weight,headband,college,tattoos,tchests,parrots,favorite.pirate,sword.type,eyepatch,sword.time,beard.length,fav.pixar,grogg,favorite.sea
0,1,male,28.0,173.11,70.5,yes,JSSFP,9,0,0,Jack Sparrow,cutlass,1,0.58,16,"Monsters, Inc.",11,Caspian Sea
1,2,male,31.0,209.25,105.6,yes,JSSFP,9,11,0,Jack Sparrow,cutlass,0,1.11,21,WALL-E,9,Red Sea
2,3,male,26.0,169.95,77.1,yes,CCCC,10,10,1,Jack Sparrow,cutlass,1,1.44,19,Inside Out,7,Chilean Sea
3,4,female,31.0,144.29,58.5,no,JSSFP,2,0,2,Jack Sparrow,scimitar,1,36.11,2,Inside Out,9,Bering Sea
4,5,female,41.0,157.85,58.4,yes,JSSFP,9,6,4,Hook,cutlass,1,0.11,0,Inside Out,14,Labrador Sea
5,6,male,26.0,190.20,85.4,yes,CCCC,7,19,0,Jack Sparrow,cutlass,1,0.59,17,Monsters University,7,Black Sea
6,7,female,31.0,158.05,59.6,yes,JSSFP,9,1,7,Blackbeard,cutlass,0,3.01,1,Cars,9,Baltic Sea
7,8,female,31.0,172.52,74.5,yes,JSSFP,5,13,7,Hook,cutlass,1,0.06,1,Inside Out,12,Norwegian Sea
8,9,female,28.0,164.57,68.7,yes,JSSFP,12,37,2,Anicetus,cutlass,0,0.74,1,Toy Story 3,16,Labrador Sea
9,10,male,30.0,183.52,84.7,yes,JSSFP,12,69,4,Jack Sparrow,cutlass,1,0.71,25,Monsters University,9,Ryukyu Sea
10,11,female,25.0,162.49,63.5,yes,CCCC,10,1,3,Blackbeard,cutlass,1,0.78,1,Inside Out,7,Ryukyu Sea
11,12,male,20.0,163.65,70.0,yes,CCCC,14,5,3,Jack Sparrow,cutlass,0,0.47,27,"Monsters, Inc.",8,Caribbean Sea
12,13,female,24.0,171.04,72.6,yes,CCCC,8,6,0,Lewis Scot,cutlass,0,0.53,0,"Monsters, Inc.",12,Southern Ocean
13,14,male,26.0,177.99,78.2,yes,CCCC,9,12,3,Jack Sparrow,cutlass,1,1.33,19,Inside Out,7,Labrador Sea
14,15,female,45.0,167.65,65.4,yes,JSSFP,14,70,0,Hook,cutlass,1,0.33,0,Monsters University,9,Aegean Sea
15,16,female,40.0,165.10,65.7,yes,JSSFP,8,3,1,Hook,scimitar,1,27.56,1,The Incredibles,10,Norwegian Sea
16,17,male,21.0,177.52,72.7,yes,CCCC,11,3,0,Jack Sparrow,cutlass,0,0.33,20,Finding Nemo,15,Arabian Sea
17,18,female,30.0,158.30,65.6,yes,JSSFP,7,107,3,Blackbeard,cutlass,0,1.55,0,"Monsters, Inc.",8,Tyrrhenian Sea
18,19,female,35.0,173.07,72.8,yes,JSSFP,7,75,14,Hook,cutlass,0,0.72,0,Finding Nemo,11,Java Sea
19,20,male,26.0,175.45,69.0,yes,CCCC,14,30,3,Jack Sparrow,cutlass,0,0.40,27,WALL-E,10,Andaman Sea